---
import Tailwind from "./icons/Tailwind.astro";
import React from "./icons/ReactIco.astro";
import JS from "./icons/JSIco.astro";
import TS from "./icons/TSIco.astro";
import SocialPill from "./SocialPill.astro";
import GitHubIco from "./icons/GitHubIco.astro";
import LinkIco from "./icons/LinkIco.astro";

const TAGS = {
  REACT: {
    name: "React.js",
    class: "bg-[#abcce5] text-2xl text-black font-black",
    icon: React,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#abcce5] text-2xl text-black font-black",
    icon: Tailwind,
  },
  JS: {
    name: "JavaScript",
    class: "bg-white, text-[#73bcf6]",
    icon: JS,
  },
  TS: {
    name: "TypeScript",
    class: "bg-[#abcce5] text-2xl text-black font-black text-base",
    icon: TS,
  },
};

const PROJECTS = [
  {
    title: "MAFFI TYPE",
    description:
      "Maffi-type es una aplicación construida en ReactJS y TypeScript que utiliza Tailwind CSS para minimizar el consumo de recursos. ReactJS se encarga de crear una interfaz de usuario dinámica, TypeScript garantiza la integridad del código con tipos estáticos, mientras que Tailwind CSS proporciona estilos predefinidos que se aplican directamente a los elementos HTML, reduciendo la necesidad de escribir CSS personalizado. Esta combinación de tecnologías permite una experiencia de usuario eficiente y bien estilizada en Maffi-type.",
    link: "https://maffi-type.vercel.app",
    github: "https://github.com/Mafifa/maffi-type",
    image: "./Projects/MAFFI-TYPE.png",
    tags: [TAGS.REACT, TAGS.TS, TAGS.TAILWIND],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3 class="text-2xl font-semibold mb-2">{title}</h3>
      <p class="mb-4 text-base font-normal text-gray-200 text-pretty">
        {description}
      </p>
      <div class="flex items-center p-2 justify-between">
        <ul class="flex gap-x-4 flex-row mb-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs py-2 border border-white/10 px-2 ${tag.class}`}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <SocialPill href="https://maffi-type.vercel.app/">
          <LinkIco class="size-5 md:size-6" />
          Web site
        </SocialPill>
        <SocialPill href="https://github.com/Mafifa/maffi-type">
          <GitHubIco class="size-5 md:size-6" />
          Repositorio
        </SocialPill>
      </div>

      <img
        class="rounded shadow-white/10 shadow-2xl"
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
